<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.puyoman.restart_quicklookd</string>
	<key>StandardErrorPath</key>
	<string>/var/log/restart_quicklookd.log</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>14400</integer>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/restart_quicklookd</string>
	</array>
</dict>
</plist>
